.preview(class='hidden')
    div(
        class=['row-tools', 'goods-preview-img']
        data-toggle="popover"
        data-html="true"
        data-content='<img src=/img/goods/preview.png width=246 onerror=this.onerror=null;this.src="/img/goods/not-available.jpg">'
    )
          i(class="mdi-action-pageview")
    div(
        class=['row-tools', 'goods-preview-descr']
        data-toggle="popover"
        data-html="true"
        data-content='No description'
    )
          i(class="mdi-action-list")
.modal(class=['fade'], tabindex='-1')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') x
                h4 Информация о товаре
            .modal-body
                ul(class=['nav', 'nav-tabs'])
                    li.active
                        a(href='#goods-properties', data-toggle='tab') Свойства
                    li
                        a(href='#goods-preview', data-toggle='tab') Изображение
                    li
                        a(href='#goods-description', data-toggle='tab') Описание
                .tab-content
                    #goods-properties(class=['tab-pane', 'fade', 'active', 'in'])
                        form.form-horizontal
                            fieldset
                                .form-group
                                    label.control-label(class='col-lg-4') ID
                                    col-lg-8
                                        .input-group
                                            input.form-control(type="text", class='goods-editor-id', disabled='disabled')
                                .form-group
                                    label.control-label(class='col-lg-4') Наименование
                                    col-lg-8
                                        .input-group
                                            input.form-control(type="text", class='goods-editor-name')
                                .form-group
                                    label.control-label(class='col-lg-4') Тип
                                    col-lg-8
                                        select.form-control(class='goods-editor-type')
                                            option(value='0') Не выбран
                                .form-group
                                    label.control-label(class='col-lg-4') Цена
                                    col-lg-8
                                        .input-group
                                            input.form-control(type="text", class='goods-editor-price')
                                .form-group
                                    label.control-label(class='col-lg-4') Остаток
                                    col-lg-8
                                        .input-group
                                            input.form-control(type="text", class='goods-editor-amount')
                    #goods-preview(class=['tab-pane', 'fade'])
                        p Сначала введите id товара.
                    #goods-description(class=['tab-pane', 'fade'])
                        h4 Описание товара
                        textarea(class='goods-editor-descr', rows=10)
                .alert(class=['hidden', 'alert-dismissable', 'alert-danger'])
                    button(type="button", class="close", data-dismiss="alert") ×
                    strong Oh snap!
                .alert(class=['hidden', 'alert-dismissable', 'alert-success'])
                    button(type="button", class="close", data-dismiss="alert") ×
                    strong Данные успешно сохранены
            hr
            .modal-footer
                button(class=['btn', 'btn-primary', 'btn-save'])   Сохранить
                button(class=['btn', 'btn-primary'], data-dismiss='modal') Закрыть

button(class=['btn', 'btn-primary', 'btn-create']) Создать
table.hidden(
    data-url='/admin/goods/get'
    data-sort-name='id'
    data-sort-order='asc'
)
    thead
        th(
            data-field='id'
            data-width='100'
        ) ID
        th(
            data-field='descr'
            data-visible='false'
        ) Описание
        th(
            data-field='prev'
            data-width='100'
            data-formatter='tableOfGoodsPreviewFormatter'
        ) Просмотр
        th(data-field='name') Наименование
        th(
            data-width='100'
            data-field='type'
            data-formatter='tableOfGoodsTypesFormatter'
        ) Тип
        th(
            data-field='price'
            data-width='100'
        ) Цена
        th(
            data-field='amount'
            data-width='100'
        ) Остаток
        th(
            data-field='edit'
            data-formatter='tableOfGoodsToolsFormatter'
            data-events='tableOfGoodsToolsEvents'
            data-width='100'
        ) Править
script
    :coffee
