include constants.jade

.panel(class=['panel-default'])
    .panel-heading #{panelHeading}
    .panel-body
        form
            input(type='hidden', name='id')
            .row
                .col-lg-2(class='tall-cell')
                    label(class=panelClassesLabel) #{fieldLabelName}
                .col-lg-2(class='tall-cell')
                    .form-group
                        .input-group(class='request-input')
                            input(type='text', class=['form-control'], name='name', tabindex=1)
                block panelRestOfFirstRow
                    .col-lg-6
                        Please fill here with something usable!
                .col-lg-2
                    a(class=panelClassesButtonPrimary, name='submit') #{buttonTextSubmit} 
            block panelRestOfRows
                .row
                    .col-lg-12
